$uni-color-primary: #ff970f;
$uni-color-success: #20c980;
$uni-color-warning: #ffb000;
$uni-color-error: #ff4f5e;
$uni-text-color: #20242a;
$uni-text-color-grey: #7d838c;
$uni-bg-color: #f7f8fa;
$uni-border-color: #eceef1;
